## Cálculo del R0 para una Corregimiento especifico de Panamá por partes.

In [74]:
# El modelo matemático está en:
# https://rpubs.com/Chris_666/631556
    
from sklearn.linear_model import LinearRegression
import pandas as pd
import numpy as np
import math
import git
import datetime
import warnings
warnings.filterwarnings("ignore")

link ='https://github.com/Sud-Austral/Datos_Panama/blob/master/datacovidpa/Localiza%20PN%20v1.xlsx?raw=true'
data = pd.read_excel(link,'TODO CORREGIMIENTO')

# eliminamos filas que no importan y asignamos la primera como cabecera
data.drop([0], inplace=True)
data.columns = data.iloc[0]
data.drop([1], inplace=True)
# data.head(10)

In [116]:

# extraemos solo las columnas que nos interesan
our_data = data[['CD_Corr', 'Corregimiento', 'Fecha', 'Nuevos Confirmados', 'Nuevos Fallecidos', 'Nuevos Recuperados', 'Población']]
our_data

1,CD_Corr,Corregimiento,Fecha,Nuevos Confirmados,Nuevos Fallecidos,Nuevos Recuperados,Población
2,80821,24 de Diciembre,2020-06-05 00:00:00,NaN,NaN,NaN,79798
3,30202,Achiote,2020-06-05 00:00:00,NaN,NaN,NaN,861
4,70313,Agua Buena,2020-06-05 00:00:00,NaN,NaN,NaN,1131
5,120502,Agua de Salud,2020-06-05 00:00:00,NaN,NaN,NaN,2034
6,50313,Agua Fría,2020-06-05 00:00:00,NaN,NaN,NaN,2999
...,...,...,...,...,...,...,...
70767,41401,Volcán (Cabecera),2020-09-17 00:00:00,0,0,0,4168
70768,50206,Yape,2020-09-17 00:00:00,0,0,0,216
70769,50207,Yaviza,2020-09-17 00:00:00,0,0,0,5128
70770,50317,Zapallal,2020-09-17 00:00:00,0,0,0,2072
70771,90512,Zapotillo,2020-09-17 00:00:00,0,0,0,1067

In [117]:
# our_data_filter = our_data[our_data['CD_Corr'] == CD_Corr_unique[97]]
# hacemos una prueba para una comuna especifica
# our_data_filter = our_data[our_data['Corregimiento'] == 'Alanje (Cabecera)']
# our_data_filter = our_data[our_data['Corregimiento'] == 'Salud']
our_data_filter = our_data[our_data['Corregimiento'] == 'El Chorrillo']
# our_data_filter = our_data
our_data_filter

1,CD_Corr,Corregimiento,Fecha,Nuevos Confirmados,Nuevos Fallecidos,Nuevos Recuperados,Población
185,80802,El Chorrillo,2020-06-05 00:00:00,NaN,NaN,NaN,22330
859,80802,El Chorrillo,2020-06-06 00:00:00,0,0,0,22330
1533,80802,El Chorrillo,2020-06-07 00:00:00,0,0,0,22330
2207,80802,El Chorrillo,2020-06-08 00:00:00,0,0,0,22330
2881,80802,El Chorrillo,2020-06-09 00:00:00,31,0,28,22330
...,...,...,...,...,...,...,...
67585,80802,El Chorrillo,2020-09-13 00:00:00,0,0,0,22330
68259,80802,El Chorrillo,2020-09-14 00:00:00,0,0,0,22330
68933,80802,El Chorrillo,2020-09-15 00:00:00,0,0,0,22330
69607,80802,El Chorrillo,2020-09-16 00:00:00,0,0,0,22330
70281,80802,El Chorrillo,2020-09-17 00:00:00,0,0,0,22330

In [118]:
# renombramos las columnas y las casteamos como float
our_data_filter.rename(columns={'Nuevos Confirmados': 'NuevosConfirmados', 'Nuevos Fallecidos': 'NuevosFallecidos',
                         'Nuevos Recuperados': 'NuevosRecuperados', 'Población': 'Poblacion'}, inplace=True)

our_data_filter['NuevosConfirmados'] = pd.to_numeric(our_data_filter['NuevosConfirmados'])
our_data_filter['NuevosFallecidos'] = pd.to_numeric(our_data_filter['NuevosFallecidos'])
our_data_filter['NuevosRecuperados'] = pd.to_numeric(our_data_filter['NuevosRecuperados'])
our_data_filter['Poblacion'] = pd.to_numeric(our_data_filter['Poblacion'])
our_data_filter

1,CD_Corr,Corregimiento,Fecha,NuevosConfirmados,NuevosFallecidos,NuevosRecuperados,Poblacion
185,80802,El Chorrillo,2020-06-05 00:00:00,NaN,NaN,NaN,22330
859,80802,El Chorrillo,2020-06-06 00:00:00,0.0,0.0,0.0,22330
1533,80802,El Chorrillo,2020-06-07 00:00:00,0.0,0.0,0.0,22330
2207,80802,El Chorrillo,2020-06-08 00:00:00,0.0,0.0,0.0,22330
2881,80802,El Chorrillo,2020-06-09 00:00:00,31.0,0.0,28.0,22330
...,...,...,...,...,...,...,...
67585,80802,El Chorrillo,2020-09-13 00:00:00,0.0,0.0,0.0,22330
68259,80802,El Chorrillo,2020-09-14 00:00:00,0.0,0.0,0.0,22330
68933,80802,El Chorrillo,2020-09-15 00:00:00,0.0,0.0,0.0,22330
69607,80802,El Chorrillo,2020-09-16 00:00:00,0.0,0.0,0.0,22330
70281,80802,El Chorrillo,2020-09-17 00:00:00,0.0,0.0,0.0,22330

In [119]:
#eliminamos la primera fila que es un NA
our_data_filter = our_data_filter.iloc[1:]
our_data_filter

1,CD_Corr,Corregimiento,Fecha,NuevosConfirmados,NuevosFallecidos,NuevosRecuperados,Poblacion
859,80802,El Chorrillo,2020-06-06 00:00:00,0.0,0.0,0.0,22330
1533,80802,El Chorrillo,2020-06-07 00:00:00,0.0,0.0,0.0,22330
2207,80802,El Chorrillo,2020-06-08 00:00:00,0.0,0.0,0.0,22330
2881,80802,El Chorrillo,2020-06-09 00:00:00,31.0,0.0,28.0,22330
3555,80802,El Chorrillo,2020-06-10 00:00:00,0.0,0.0,0.0,22330
...,...,...,...,...,...,...,...
67585,80802,El Chorrillo,2020-09-13 00:00:00,0.0,0.0,0.0,22330
68259,80802,El Chorrillo,2020-09-14 00:00:00,0.0,0.0,0.0,22330
68933,80802,El Chorrillo,2020-09-15 00:00:00,0.0,0.0,0.0,22330
69607,80802,El Chorrillo,2020-09-16 00:00:00,0.0,0.0,0.0,22330
70281,80802,El Chorrillo,2020-09-17 00:00:00,0.0,0.0,0.0,22330

In [120]:
# adjuntamos nuevas columnas con los valores necesarios para el calculo del R0:
our_data_filter['NuevosConfirmados'] = our_data_filter['NuevosConfirmados']+our_data_filter['NuevosFallecidos']
our_data_filter['NuevosConfirmadosacum'] = our_data_filter['NuevosConfirmados'].cumsum()

our_data_filter['NuevosRecuperadosacum'] = our_data_filter['NuevosRecuperados'].cumsum()

our_data_filter["Susceptibles"] = our_data_filter['Poblacion']-our_data_filter['NuevosConfirmadosacum']-our_data_filter['NuevosRecuperadosacum']
our_data_filter["pob_log_Susceptibles"] = our_data_filter['Poblacion']*np.log(our_data_filter["Susceptibles"])

our_data_filter.head(20)

1,CD_Corr,Corregimiento,Fecha,NuevosConfirmados,NuevosFallecidos,NuevosRecuperados,Poblacion,NuevosConfirmadosacum,NuevosRecuperadosacum,Susceptibles,pob_log_Susceptibles
859,80802,El Chorrillo,2020-06-06 00:00:00,0.0,0.0,0.0,22330,0.0,0.0,22330.0,223605.616080
1533,80802,El Chorrillo,2020-06-07 00:00:00,0.0,0.0,0.0,22330,0.0,0.0,22330.0,223605.616080
2207,80802,El Chorrillo,2020-06-08 00:00:00,0.0,0.0,0.0,22330,0.0,0.0,22330.0,223605.616080
2881,80802,El Chorrillo,2020-06-09 00:00:00,31.0,0.0,28.0,22330,31.0,28.0,22271.0,223546.537998
3555,80802,El Chorrillo,2020-06-10 00:00:00,0.0,0.0,0.0,22330,31.0,28.0,22271.0,223546.537998
4229,80802,El Chorrillo,2020-06-11 00:00:00,36.0,0.0,18.0,22330,67.0,46.0,22217.0,223492.329196
4903,80802,El Chorrillo,2020-06-12 00:00:00,0.0,0.0,0.0,22330,67.0,46.0,22217.0,223492.329196
5577,80802,El Chorrillo,2020-06-13 00:00:00,17.0,0.0,80.0,22330,84.0,126.0,22120.0,223394.622384
6251,80802,El Chorrillo,2020-06-14 00:00:00,18.0,1.0,0.0,22330,102.0,126.0,22102.0,223376.444101
6925,80802,El Chorrillo,2020-06-15 00:00:00,36.0,1.0,0.0,22330,138.0,126.0,22066.0,223340.043079
7599,80802,El Chorrillo,2020-06-16 00:00:00,14.0,1.0,1.0,22330,152.0,127.0,22051.0,223324.858455
8273,80802,El Chorrillo,2020-06-17 00:00:00,0.0,0.0,0.0,22330,152.0,127.0,22051.0,223324.858455
8947,80802,El Chorrillo,2020-06-18 00:00:00,43.0,1.0,0.0,22330,195.0,127.0,22008.0,223281.271887
9621,80802,El Chorrillo,2020-06-19 00:00:00,33.0,1.0,23.0,22330,228.0,150.0,21952.0,223224.380137
10295,80802,El Chorrillo,2020-06-20 00:00:00,20.0,0.0,0.0,22330,248.0,150.0,21932.0,223204.026476
10969,80802,El Chorrillo,2020-06-21 00:00:00,21.0,0.0,0.0,22330,269.0,150.0,21911.0,223182.635146
11643,80802,El Chorrillo,2020-06-22 00:00:00,32.0,1.0,3.0,22330,301.0,153.0,21876.0,223146.937328
12317,80802,El Chorrillo,2020-06-23 00:00:00,0.0,0.0,0.0,22330,301.0,153.0,21876.0,223146.937328
12991,80802,El Chorrillo,2020-06-24 00:00:00,31.0,2.0,2.0,22330,332.0,155.0,21843.0,223113.227036
13665,80802,El Chorrillo,2020-06-25 00:00:00,21.0,-1.0,0.0,22330,353.0,155.0,21822.0,223091.748504

In [121]:
# extraemos un subconjunto que llegue solo hasta el dia de hoy:
import datetime
now = datetime.datetime.now()
our_data_filter_un = our_data_filter[our_data_filter['Fecha'] < now]
our_data_filter_un.tail(5)

1,CD_Corr,Corregimiento,Fecha,NuevosConfirmados,NuevosFallecidos,NuevosRecuperados,Poblacion,NuevosConfirmadosacum,NuevosRecuperadosacum,Susceptibles,pob_log_Susceptibles
58823,80802,El Chorrillo,2020-08-31 00:00:00,0.0,0.0,0.0,22330,789.0,778.0,20763.0,221980.918567
59497,80802,El Chorrillo,2020-09-01 00:00:00,0.0,0.0,0.0,22330,789.0,778.0,20763.0,221980.918567
60171,80802,El Chorrillo,2020-09-02 00:00:00,0.0,0.0,0.0,22330,789.0,778.0,20763.0,221980.918567
60845,80802,El Chorrillo,2020-09-03 00:00:00,-1156.0,-37.0,-973.0,22330,-367.0,-195.0,22892.0,224160.660356
61519,80802,El Chorrillo,2020-09-04 00:00:00,0.0,0.0,0.0,22330,-367.0,-195.0,22892.0,224160.660356

In [122]:
# filtramos desde el primer dia en el que haya recuperados:

our_data_filter_un_final = our_data_filter_un[our_data_filter_un['NuevosRecuperadosacum'] > 0]
our_data_filter_un_final.tail(5)

1,CD_Corr,Corregimiento,Fecha,NuevosConfirmados,NuevosFallecidos,NuevosRecuperados,Poblacion,NuevosConfirmadosacum,NuevosRecuperadosacum,Susceptibles,pob_log_Susceptibles
57475,80802,El Chorrillo,2020-08-29 00:00:00,0.0,0.0,0.0,22330,789.0,778.0,20763.0,221980.918567
58149,80802,El Chorrillo,2020-08-30 00:00:00,0.0,0.0,0.0,22330,789.0,778.0,20763.0,221980.918567
58823,80802,El Chorrillo,2020-08-31 00:00:00,0.0,0.0,0.0,22330,789.0,778.0,20763.0,221980.918567
59497,80802,El Chorrillo,2020-09-01 00:00:00,0.0,0.0,0.0,22330,789.0,778.0,20763.0,221980.918567
60171,80802,El Chorrillo,2020-09-02 00:00:00,0.0,0.0,0.0,22330,789.0,778.0,20763.0,221980.918567

In [123]:
y = our_data_filter_un_final["pob_log_Susceptibles"]
y.head(5)

2881    223546.537998
3555    223546.537998
4229    223492.329196
4903    223492.329196
5577    223394.622384
Name: pob_log_Susceptibles, dtype: float64

In [141]:
# calculamos el R0
lista_R0 = []
e = []
from sklearn import linear_model
for i in range(len(y)):
    
    y = our_data_filter_un_final["pob_log_Susceptibles"]
    x = our_data_filter_un_final["NuevosRecuperadosacum"]
    
    #******************
    # modificacion
    yyy = y[i:i+1]
    xxx = x[i:i+1]
    
    
    #******************
    # especulacion  
    #yy = y[i:len(y)]
    #yyy = yy.head(2)

    #xx = x[i:len(y)]
    #xxx = xx.head(2)

    #******************   
    
    
    #****************** 
    # original
    #yy = y.head(i+1)
    #xx = x.head(i+1)
    #****************** 
    
    # Creamos el objeto de Regresión Lineal
    regresion_lineal = linear_model.LinearRegression()
    
    #regresion_lineal.fit(xx.values.reshape(-1, 1),yy.values.reshape(-1, 1))
    regresion_lineal.fit(xxx.values.reshape(-1, 1),yyy.values.reshape(-1, 1))
    r0 = -regresion_lineal.coef_
    lista_R0.append(r0)
    
# len(lista_R0)

our_data_filter_un_final["r0"] = lista_R0
# our_data_filter_un_final
our_data_filter_un_final

1,CD_Corr,Corregimiento,Fecha,NuevosConfirmados,NuevosFallecidos,NuevosRecuperados,Poblacion,NuevosConfirmadosacum,NuevosRecuperadosacum,Susceptibles,pob_log_Susceptibles,r0
2881,80802,El Chorrillo,2020-06-09 00:00:00,31.0,0.0,28.0,22330,31.0,28.0,22271.0,223546.537998,[[-0.0]]
3555,80802,El Chorrillo,2020-06-10 00:00:00,0.0,0.0,0.0,22330,31.0,28.0,22271.0,223546.537998,[[-0.0]]
4229,80802,El Chorrillo,2020-06-11 00:00:00,36.0,0.0,18.0,22330,67.0,46.0,22217.0,223492.329196,[[-0.0]]
4903,80802,El Chorrillo,2020-06-12 00:00:00,0.0,0.0,0.0,22330,67.0,46.0,22217.0,223492.329196,[[-0.0]]
5577,80802,El Chorrillo,2020-06-13 00:00:00,17.0,0.0,80.0,22330,84.0,126.0,22120.0,223394.622384,[[-0.0]]
...,...,...,...,...,...,...,...,...,...,...,...,...
57475,80802,El Chorrillo,2020-08-29 00:00:00,0.0,0.0,0.0,22330,789.0,778.0,20763.0,221980.918567,[[-0.0]]
58149,80802,El Chorrillo,2020-08-30 00:00:00,0.0,0.0,0.0,22330,789.0,778.0,20763.0,221980.918567,[[-0.0]]
58823,80802,El Chorrillo,2020-08-31 00:00:00,0.0,0.0,0.0,22330,789.0,778.0,20763.0,221980.918567,[[-0.0]]
59497,80802,El Chorrillo,2020-09-01 00:00:00,0.0,0.0,0.0,22330,789.0,778.0,20763.0,221980.918567,[[-0.0]]
60171,80802,El Chorrillo,2020-09-02 00:00:00,0.0,0.0,0.0,22330,789.0,778.0,20763.0,221980.918567,[[-0.0]]

In [142]:
# limpiamos los corchetes del R0:
our_data_filter_un_final['r0'] = our_data_filter_un_final['r0'].str.get(0)
our_data_filter_un_final['r0'] = our_data_filter_un_final['r0'].str.get(0)
r0_puro = our_data_filter_un_final["r0"]
our_data_filter_un_final["r0"] = r0_puro
our_data_filter_un_final

1,CD_Corr,Corregimiento,Fecha,NuevosConfirmados,NuevosFallecidos,NuevosRecuperados,Poblacion,NuevosConfirmadosacum,NuevosRecuperadosacum,Susceptibles,pob_log_Susceptibles,r0
2881,80802,El Chorrillo,2020-06-09 00:00:00,31.0,0.0,28.0,22330,31.0,28.0,22271.0,223546.537998,-0.0
3555,80802,El Chorrillo,2020-06-10 00:00:00,0.0,0.0,0.0,22330,31.0,28.0,22271.0,223546.537998,-0.0
4229,80802,El Chorrillo,2020-06-11 00:00:00,36.0,0.0,18.0,22330,67.0,46.0,22217.0,223492.329196,-0.0
4903,80802,El Chorrillo,2020-06-12 00:00:00,0.0,0.0,0.0,22330,67.0,46.0,22217.0,223492.329196,-0.0
5577,80802,El Chorrillo,2020-06-13 00:00:00,17.0,0.0,80.0,22330,84.0,126.0,22120.0,223394.622384,-0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
57475,80802,El Chorrillo,2020-08-29 00:00:00,0.0,0.0,0.0,22330,789.0,778.0,20763.0,221980.918567,-0.0
58149,80802,El Chorrillo,2020-08-30 00:00:00,0.0,0.0,0.0,22330,789.0,778.0,20763.0,221980.918567,-0.0
58823,80802,El Chorrillo,2020-08-31 00:00:00,0.0,0.0,0.0,22330,789.0,778.0,20763.0,221980.918567,-0.0
59497,80802,El Chorrillo,2020-09-01 00:00:00,0.0,0.0,0.0,22330,789.0,778.0,20763.0,221980.918567,-0.0
60171,80802,El Chorrillo,2020-09-02 00:00:00,0.0,0.0,0.0,22330,789.0,778.0,20763.0,221980.918567,-0.0

In [145]:
# Grabamos a un archivo local:
our_data_filter_un_final.to_csv (r'C:\Users\usuario\Desktop\R0_Panama.csv', mode='a', index = False, header=True)

## Cálculo del R0 para una Corregimiento especifico de Panamá integrado.

In [144]:
from sklearn.linear_model import LinearRegression
import pandas as pd
import numpy as np
import math
import git
import datetime
import warnings
warnings.filterwarnings("ignore")

link ='https://github.com/Sud-Austral/Datos_Panama/blob/master/datacovidpa/Localiza%20PN%20v1.xlsx?raw=true'
data = pd.read_excel(link,'TODO CORREGIMIENTO')

# eliminamos filas que no importan y asignamos la primera como cabecera
data.drop([0], inplace=True)
data.columns = data.iloc[0]
data.drop([1], inplace=True)
data.head(10)

# extraemos solo las columnas que nos interesan
our_data = data[['CD_Corr', 'Corregimiento', 'Fecha', 'Nuevos Confirmados', 'Nuevos Fallecidos', 'Nuevos Recuperados', 'Población']]

our_data_filter = our_data[our_data['Corregimiento'] == 'Salud']

# renombrar las columnas y castearlas como float
our_data_filter.rename(columns={'Nuevos Confirmados': 'NuevosConfirmados', 'Nuevos Fallecidos': 'NuevosFallecidos',
                         'Nuevos Recuperados': 'NuevosRecuperados', 'Población': 'Poblacion'}, inplace=True)

our_data_filter['NuevosConfirmados'] = pd.to_numeric(our_data_filter['NuevosConfirmados'])
our_data_filter['NuevosFallecidos'] = pd.to_numeric(our_data_filter['NuevosFallecidos'])
our_data_filter['NuevosRecuperados'] = pd.to_numeric(our_data_filter['NuevosRecuperados'])
our_data_filter['Poblacion'] = pd.to_numeric(our_data_filter['Poblacion'])

#eliminamos la primera fila que es un NA
our_data_filter = our_data_filter.iloc[1:]

our_data_filter['NuevosConfirmados'] = our_data_filter['NuevosConfirmados']+our_data_filter['NuevosFallecidos']
our_data_filter['NuevosConfirmadosacum'] = our_data_filter['NuevosConfirmados'].cumsum()

our_data_filter['NuevosRecuperadosacum'] = our_data_filter['NuevosRecuperados'].cumsum()

our_data_filter["Susceptibles"] = our_data_filter['Poblacion']-our_data_filter['NuevosConfirmadosacum']-our_data_filter['NuevosRecuperadosacum']
our_data_filter["pob_log_Susceptibles"] = our_data_filter['Poblacion']*np.log(our_data_filter["Susceptibles"])

# extraemos un subconjunto que llegue solo hasta el dia de hoy:
import datetime
now = datetime.datetime.now()
our_data_filter_un = our_data_filter[our_data_filter['Fecha'] < now]

# filtramos desde el primer dia en el que haya recuperados:

our_data_filter_un_final = our_data_filter_un[our_data_filter_un['NuevosRecuperadosacum'] > 0]

y = our_data_filter_un_final["pob_log_Susceptibles"]

lista_R0 = []
from sklearn import linear_model
for i in range(len(y)):
    y = our_data_filter_un_final["pob_log_Susceptibles"]
    x = our_data_filter_un_final["NuevosRecuperadosacum"]
    yy = y.head(i+1)
    xx = x.head(i+1)
    
    # Creamos el objeto de Regresión Lineal
    regresion_lineal = linear_model.LinearRegression()
    
    regresion_lineal.fit(xx.values.reshape(-1, 1),yy.values.reshape(-1, 1))
    r0 = -regresion_lineal.coef_
    lista_R0.append(r0)
    
our_data_filter_un_final["r0"] = lista_R0

our_data_filter_un_final['r0'] = our_data_filter_un_final['r0'].str.get(0)
our_data_filter_un_final['r0'] = our_data_filter_un_final['r0'].str.get(0)
r0_puro = our_data_filter_un_final["r0"]
our_data_filter_un_final["r0"] = r0_puro

our_data_filter_un_final.to_csv (r'C:\Users\usuario\Desktop\R0_Panama.csv', mode='a', index = False, header=True)

our_data_filter_un_final

1,CD_Corr,Corregimiento,Fecha,NuevosConfirmados,NuevosFallecidos,NuevosRecuperados,Poblacion,NuevosConfirmadosacum,NuevosRecuperadosacum,Susceptibles,pob_log_Susceptibles,r0
47067,30207,Salud,2020-08-13 00:00:00,2.0,0.0,1.0,2415,9.0,1.0,2405.0,18801.512016,-0.0
47741,30207,Salud,2020-08-14 00:00:00,0.0,0.0,0.0,2415,9.0,1.0,2405.0,18801.512016,-0.0
48415,30207,Salud,2020-08-15 00:00:00,0.0,0.0,0.0,2415,9.0,1.0,2405.0,18801.512016,-0.0
49089,30207,Salud,2020-08-16 00:00:00,0.0,0.0,0.0,2415,9.0,1.0,2405.0,18801.512016,-0.0
49763,30207,Salud,2020-08-17 00:00:00,0.0,0.0,0.0,2415,9.0,1.0,2405.0,18801.512016,-0.0
50437,30207,Salud,2020-08-18 00:00:00,0.0,0.0,0.0,2415,9.0,1.0,2405.0,18801.512016,-0.0
51111,30207,Salud,2020-08-19 00:00:00,0.0,0.0,0.0,2415,9.0,1.0,2405.0,18801.512016,-0.0
51785,30207,Salud,2020-08-20 00:00:00,0.0,0.0,0.0,2415,9.0,1.0,2405.0,18801.512016,-0.0
52459,30207,Salud,2020-08-21 00:00:00,0.0,0.0,0.0,2415,9.0,1.0,2405.0,18801.512016,-0.0
53133,30207,Salud,2020-08-22 00:00:00,0.0,0.0,0.0,2415,9.0,1.0,2405.0,18801.512016,-0.0
53807,30207,Salud,2020-08-23 00:00:00,0.0,0.0,0.0,2415,9.0,1.0,2405.0,18801.512016,-0.0
54481,30207,Salud,2020-08-24 00:00:00,0.0,0.0,0.0,2415,9.0,1.0,2405.0,18801.512016,-0.0
55155,30207,Salud,2020-08-25 00:00:00,0.0,0.0,0.0,2415,9.0,1.0,2405.0,18801.512016,-0.0
55829,30207,Salud,2020-08-26 00:00:00,0.0,0.0,0.0,2415,9.0,1.0,2405.0,18801.512016,-0.0
56503,30207,Salud,2020-08-27 00:00:00,0.0,0.0,0.0,2415,9.0,1.0,2405.0,18801.512016,-0.0
57177,30207,Salud,2020-08-28 00:00:00,0.0,0.0,0.0,2415,9.0,1.0,2405.0,18801.512016,-0.0
57851,30207,Salud,2020-08-29 00:00:00,0.0,0.0,0.0,2415,9.0,1.0,2405.0,18801.512016,-0.0
58525,30207,Salud,2020-08-30 00:00:00,0.0,0.0,0.0,2415,9.0,1.0,2405.0,18801.512016,-0.0
59199,30207,Salud,2020-08-31 00:00:00,0.0,0.0,0.0,2415,9.0,1.0,2405.0,18801.512016,-0.0
59873,30207,Salud,2020-09-01 00:00:00,0.0,0.0,0.0,2415,9.0,1.0,2405.0,18801.512016,-0.0
60547,30207,Salud,2020-09-02 00:00:00,0.0,0.0,0.0,2415,9.0,1.0,2405.0,18801.512016,-0.0

## Cálculo del R0 para todos los Corregimientos de Panamá.

In [38]:
# Código definitivo de cálculo de R0 para Panamá:

from sklearn.linear_model import LinearRegression
from sklearn import linear_model
import pandas as pd
import numpy as np
import math
import git
import datetime
import warnings
warnings.filterwarnings("ignore")

link ='https://github.com/Sud-Austral/Datos_Panama/blob/master/datacovidpa/Localiza%20PN%20v1.xlsx?raw=true'
data = pd.read_excel(link,'TODO CORREGIMIENTO')

# eliminamos filas que no importan y asignamos la primera como cabecera
data.drop([0], inplace=True)
data.columns = data.iloc[0]
data.drop([1], inplace=True)
data.head(10)

# extraemos solo las columnas que nos interesan
our_data = data[['CD_Corr', 'Corregimiento', 'Fecha', 'Nuevos Confirmados', 'Nuevos Fallecidos', 'Nuevos Recuperados', 'Población']]

# nos preparamos para el ciclo sobre todos los Corregimientos:
CD_Corr_unique = np.unique(our_data['CD_Corr'])
cantidad_de_coor = len(CD_Corr_unique)

# hasta CD_Corr 400 ok
# cae en CD_Corr = 90608

# for i in range(cantidad_de_coor):

for i in range(cantidad_de_coor):

    our_data_filter = our_data[our_data['CD_Corr'] == CD_Corr_unique[i]]

    # our_data_filter = our_data[our_data['Corregimiento'] == 'Alanje (Cabecera)']

    # renombrar las columnas y castearlas como float
    our_data_filter.rename(columns={'Nuevos Confirmados': 'NuevosConfirmados', 'Nuevos Fallecidos': 'NuevosFallecidos',
                         'Nuevos Recuperados': 'NuevosRecuperados', 'Población': 'Poblacion'}, inplace=True)
    our_data_filter['NuevosConfirmados'] = pd.to_numeric(our_data_filter['NuevosConfirmados'])
    our_data_filter['NuevosFallecidos'] = pd.to_numeric(our_data_filter['NuevosFallecidos'])
    our_data_filter['NuevosRecuperados'] = pd.to_numeric(our_data_filter['NuevosRecuperados'])
    our_data_filter['Poblacion'] = pd.to_numeric(our_data_filter['Poblacion'])

    #eliminamos la primera fila que es un NA
    our_data_filter = our_data_filter.iloc[1:]

    our_data_filter['NuevosConfirmados'] = our_data_filter['NuevosConfirmados']+our_data_filter['NuevosFallecidos']
    our_data_filter['NuevosConfirmadosacum'] = our_data_filter['NuevosConfirmados'].cumsum()
    our_data_filter['NuevosRecuperadosacum'] = our_data_filter['NuevosRecuperados'].cumsum()
    our_data_filter["Susceptibles"] = our_data_filter['Poblacion']-our_data_filter['NuevosConfirmadosacum']-our_data_filter['NuevosRecuperadosacum']
    our_data_filter["pob_log_Susceptibles"] = our_data_filter['Poblacion']*np.log(our_data_filter["Susceptibles"])

    # extraemos un subconjunto que llegue solo hasta el dia de hoy:
    now = datetime.datetime.now()
    our_data_filter_un = our_data_filter[our_data_filter['Fecha'] < now]

    # filtramos desde el primer dia en el que haya recuperados:
    our_data_filter_un_final = our_data_filter_un[our_data_filter_un['NuevosRecuperadosacum'] > 0]
    
    y = our_data_filter_un_final["pob_log_Susceptibles"]

    # declaramos una lista para almacenar los R0:
    lista_R0 = []
    
    # Reemplazamos los NA por 0:
    our_data_filter_un_final.fillna("0", inplace = True) 
    
    for i in range(len(y)):
        try:
  
            # if (!np.isnan(y).bool() or  np.isinf(y).bool()):
            #    xx = np.nan_to_num(xx)
            y = our_data_filter_un_final["pob_log_Susceptibles"]
            x = our_data_filter_un_final["NuevosRecuperadosacum"]
            yy = y.head(i+1)
            xx = x.head(i+1)
            # print(xx)
            # print(yy)
            # Creamos el objeto de Regresión Lineal
            regresion_lineal = linear_model.LinearRegression()

            # if (np.isnan(xx).bool() or  np.isinf(xx).bool()):
            #    xx = np.nan_to_num(xx)

            regresion_lineal.fit(xx.values.reshape(-1, 1),yy.values.reshape(-1, 1))
            r0 = -regresion_lineal.coef_
            lista_R0.append(r0)
            
        except:
            print("Error")
            lista_R0.append(0)
            
    our_data_filter_un_final["r0"] = lista_R0

    # our_data_filter_un_final['r0'] = our_data_filter_un_final['r0'].str.get(0)
    # our_data_filter_un_final['r0'] = our_data_filter_un_final['r0'].str.get(0)
    
    r0_puro = our_data_filter_un_final["r0"]
    our_data_filter_un_final["r0"] = r0_puro

    our_data_filter_un_final.to_csv (r'C:\Users\usuario\Desktop\GitHub-trabajo\Bases_de_Datos_DS\R0_Panama.csv', header=False, mode='a', index = False)

Error
Error
Error
Error
Error
Error
Error

In [39]:
# Hay que agregar el código que sigue para eliminar los corchetes del r0
data_second_r0 = pd.read_csv(r'C:\Users\usuario\Desktop\GitHub-trabajo\Bases_de_Datos_DS\R0_Panama.csv') 
data_second_r0

data_second_r0.columns = ['Código del Corregimiento','Corregimiento','Fecha','Casos Confirmados','Nuevos Fallecidos','Nuevos Recuperados','Poblacion','Nuevos Confirmados acum','Nuevos Recuperados acum','Susceptibles','pob_log_Susceptibles','r0']
#data_second_r0


x = data_second_r0['r0'].str.replace("]]", "")
y = x.str.replace("[", "")
z_dataframe = pd.DataFrame(y)
del data_second_r0['r0']
data_second_r0['r0'] = z_dataframe
#data_second_r0

data_second_r0.to_csv (r'C:\Users\usuario\Desktop\GitHub-trabajo\Bases_de_Datos_DS\R0_Panama_final.csv', header=False, mode='a', index = False)

**********************************************
**********************************************
**********************************************